@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers like Chrome and Safari */
progress::-webkit-progress-bar {
  @apply bg-gray-100;
}

progress::-webkit-progress-value {
  @apply bg-[#FFBB01] opacity-60;
}

/* For Firefox */
progress::-moz-progress-bar {
  @apply bg-gray-100;
}

/* Hide the default arrow */
details.question > summary {
  @apply relative list-none;
}
details.question > summary::-webkit-details-marker {
  @apply hidden;
}

details.question > summary::after {
  content: "?";
  @apply mx-auto ml-2 inline-flex h-4 w-4 items-center justify-center rounded-full border border-black text-xs font-bold text-black;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group {
  @apply mb-16 mr-6 rounded-full shadow-none drop-shadow;
}

.buttons-folded {
  grid-template-columns: 0fr 0fr 0fr 1fr;
  grid-template-rows: 1fr 0fr 0fr 0fr;
}

.buttons-expanded {
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
}

.mapboxgl-ctrl-bottom-left {
  @apply left-20 z-0;
}
